---
const site = "https://kevinariasdevweb.github.io/portfolio-dev";

import Layout from {site}"/layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../icons/GitHub.astro";
import MailIcon from "../icons/Mail.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../icons/Briefcase.astro";
import Code from "../icons/Code.astro";

---

<Layout
  title="Portfolio de kevin Arias - Desarrollador y Programador Web"
  description="Contrata a kevin Arias para crear aplicaciones web"
>
  <main class="px-4">
    <SectionContainer id="contacto" class="py-44 pb-32">
      <img
        class="rounded-full w-12 h-12 mb-4"
        src="https://cdn.leonardo.ai/users/7ddcd4ef-7552-43b0-9093-13e392ed618e/generations/d270e915-17f9-4a43-8a62-24a6fc80148d/DreamShaper_v7_An_person_programing_in_laptop_in_the_abyss_of_1.jpg"
        alt="kevin photo"
      />

      <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
        Hey, soy Kevin <a
          href="https://www.linkedin.com/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar!</Badge></a
        >
      </h1>
  <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>+1 año de experiencia.</span>
        <span class="text-yellow-200/90">Desarrollador Web Junior</span> de
        <span class="text-red-200/100">Santiago, Chile.</span>
        <span class="opacity-85">
          Especializado en crear aplicaciones web.
        </span>
      </h2>
      <nav class="flex gap-4 mt-8 flex-wrap ">
        <SocialPill href="https://www.linkedin.com/in/kevin-arias-araya/">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/KevinAriasdevWeb">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
    <SocialPill href="mailto:kev.arias.araya@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          kev.arias.araya@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7"/>
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Code class="size-7"/>
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
